* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f0f2f5;
}

.logo {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar {
    width: 150px; /* Largura inicial da sidebar */
    background: #2c3e50;
    color: white;
    padding: 10px;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    transition: width 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar:not(.locked) {
    width: 60px;
    
}
.sidebar:not(.locked) li a span {
    display: none !important;
  }

/* Quando travada, fixa a largura */
.sidebar.locked {
    width: 150px !important;
}

.logo-img {
    width: 50px;
    transition: width 0.4s ease;
    margin-left: -5px;
}


.sidebar.locked .logo-img {
    width: 120px;
}

.sidebar.locked .menu-items a span {
    display: inline-block;
    margin-left: 10px;
}

.sidebar-locked .sidebar {
    transform: translateX(0); /* travada/visível */
    transition: none; /* sem animação */
}
.menu-items {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.menu-items li {
    margin: 3px 0;
}

.menu-items a {
    color: #bdc3c7;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: 0.3s;
    text-align: left;
}

.menu-items a:hover {
    background: #34495e;
    color: white;
    padding-left: 15px;
}

.menu-items a span {
    display: none;
}




.lock-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 50%; 
    transform: translateX(-50%); 
    transition: transform 0.3s;
}

.lock-btn:hover {
    transform: translate(-50%, -50%) scale(1.2);
}



.profile {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-name {
    margin-right: 10px;
}

.profile-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: none;
    min-width: 150px;
}

.profile-menu.active {
    display: block;
}

.profile-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #2c3e50;
    transition: 0.3s;
}

.profile-menu a:hover {
    background: #f8f9fa;
}

.header {
    background: white;
    padding: 3px 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    left: 60px; 
    right: 0;
    top: 0;
    z-index: 999;
    height: 50px; 
}

.main-content {
    margin-left: 150px; 
    margin-top: 50px; 
    padding: 17px;
    min-height: calc(100vh - 50px); 
    width: calc(100% - 150px); 
    max-width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    padding: 1px;
    max-width: 1400px;
    width: 100%
}

.form-container {
    display: block; 
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 30px; 
    width: 100%; 
    max-width: 1400px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.form-container h2 {
    margin-bottom: 20px;
    color: #2d3748;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #4a5568;
}

.input-container {
    position: relative;
    width: 100%;
}

.form-group input, select {
    width: 100%;
    padding: 10px;
    padding-right: 40px;  /* Espaço para o ícone */
    border: 2px solid #e2e8f0;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-group i {
    display: none;
    position: absolute;
    right: 10px;  /* Alinha o ícone à direita */
    top: 50%;
    transform: translateY(-50%);  /* Centraliza o ícone verticalmente */
    font-size: 18px;
    cursor: pointer;  /* Para indicar que o ícone é interativo */
    color: #4a5568;
}


.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #667eea;
}

.form-group button {
    width: 100%;
    padding: 15px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
}

.form-group button:hover {
    background: #764ba2;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-row .form-group {
    flex: 1;
}


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; /* Oculto por padrão */
}

.loader .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}


/* POP UP SUCESSO*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    overflow: hidden;
}
.toast{
    position: absolute;
    top: 55px;
    right: 20px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-left: 6px solid #4070f4;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}
.toast.active{
    transform: translateX(0%);
}
.toast .toast-content{
    display: flex;
    align-items: center;
}
.toast-content .check{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #4070f4;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}
.toast-content .message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.message .text{
    font-size: 20px;
    font-weight: 400;;
    color: #666666;
}
.message .text.text-1{
    font-weight: 600;
    color: #333;
}
.toast .close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}
.toast .close:hover{
    opacity: 1;
}
.toast .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}
.toast .progress:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
}
.progress.active:before{
    animation: progress 2s linear forwards;
}
@keyframes progress {
    100%{
        right: 100%;
    }
}
button{
    padding: 12px 20px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #0e518f;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.toast.active ~ button{
    pointer-events: none;
}

.input-container {
    position: relative;
    width: 100%;
}

.form-group input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 2px solid #e2e8f0;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-group i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    cursor: pointer;
    color: #4a5568;
}

#tabela-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#tabela-produto {
    width: 100%;
    border-collapse: collapse;
}

#tabela-produto th, #tabela-produto td {
    padding: 10px;
    text-align: left;
    border: 1px solid #e2e8f0;
}

#tabela-produto th {
    background-color: #f8f9fa;
}

.modal {
    display: none; /* Esconde o modal */
    position: fixed; /* Fica fixo na tela */
    z-index: 1; /* Fica acima do conteúdo */
    left: 0;
    top: 0;
    width: 100%; /* Largura da tela */
    height: 100%; /* Altura da tela */
    overflow: auto; /* Se o conteúdo for maior que o modal */
    background-color: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente */
}

/* Modal Content */
.modal-content {
    background-color: #fff;
    margin: 10% auto; /* Centraliza na tela */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Largura do modal */
    max-width: 1000px; /* Tamanho máximo */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
}

/* Fechar o Modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#loadingModal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    min-width: 50px;
    max-width: 50%;
}

/* Estilos para o spinner */
.spinner {
    border: 9px solid #f3f3f3; /* Cor do fundo */
    border-top: 9px solid #3498db; /* Cor do topo do spinner */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Estilos para o botão */
button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos para a tela principal */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Responsividade */
@media (max-width: 600px) {
    .loading-content {
        padding: 20px;
        font-size: 16px;
    }

    .spinner {
        width: 30px;
        height: 30px;
    }
}


.response{
    position: absolute;
    top: 55px;
    right: 20px;
    border-radius: 12px;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.response.sucess{
    border-left: 6px solid #218801;
    background: rgba(198, 241, 211, 0.616);

}
.response.fail{
    border-left: 6px solid #e42a09;
    background: rgba(245, 181, 181, 0.63); /* 50% de opacidade */
}
.response.active{
    transform: translateX(0%);
}
.response .response-content{
    display: flex;
    align-items: center;
}
.response-content .check{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #4070f4;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.response-content .response-message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.response-message .text{
    font-size: 20px;
    font-weight: 400;;
    color: #666666;
}

.response-message.sucess {

    color: #065c19;
}

.response-message.fail {

    color: #5c0606;
}

.response .close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}
.response .close:hover{
    opacity: 1;
}
.response .response-progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}
.response .response-progress:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
   
}

.response-progress.sucess:before{
    background-color: #218801;
}

.response-progress.fail:before{
    background-color: #e42a09;
}

.response-progress.active:before{
    animation: progress 2s linear forwards;
}
@keyframes progress {
    100%{
        right: 100%;
    }
}
button{
    padding: 12px 20px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #8f0e0e;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.response.active {
    opacity: 1;
    transition: opacity 2s;
}

.response-progress.active {
    width: 100%;
    transition: width 2s;
}
